<div data-id="{{book.id}}">
  <h4>{{book.title}} by {{book.author}}</h4>
  <p class="list-data">Published In: {{book.published_in}}</p>
  <p class="list-data">{{#if book.description}}
    {{book.description}}
  {{else}}
    No description.
  {{/if}}</p>
</div>
