<div data-id="{{book.id}}">
  <h4>{{book.title}} by {{book.author}}</h4>
  Published In: {{book.published_in}}
  {{#if book.description}}
    {{book.description}}
  {{else}}
    No description.
  {{/if}}
</div>
