<ul data-id="{{reading.id}}" data-book="{{reading.book.id}}">
  <li> <h4>Title: {{reading.book.title}}</h4></li>
  <li>Author: {{reading.book.author}}</li>
  <li>Published In: {{reading.book.published_in}}</li>
  <li>Status:
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{reading.status}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Unread</a></li>
        <li><a href="#">Started</a></li>
        <li><a href="#">Read</a></li>
      </ul>
    </div>
  {{#if reading.book.description}}
    <li>{{reading.book.description}}</li>
  {{else}}
    <li>No description.</li>
  {{/if}}
</ul>
{{> update-book-modal book=reading.book}}
{{> remove-reading reading=reading}}
