<div data-id="{{reading.id}}" data-book="{{reading.book.id}}">
  <h4>{{reading.book.title}} by {{reading.book.author}}</h4>
  <p class="list-data">Published In: {{reading.book.published_in}}</p>
  <p class="list-data">Status: <div class="dropdown status-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-id="status-{{reading.id}}">
      {{reading.status}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{reading.id}}">
      <li><a class="status-option" href="#" data-status="unread" data-id="{{reading.id}}">Unread</a></li>
      <li><a class="status-option" href="#" data-status="started" data-id="{{reading.id}}">Started</a></li>
      <li><a class="status-option" href="#" data-status="read" data-id="{{reading.id}}">Read</a></li>
    </ul>
  </div></p>
  <p class="list-data">{{#if reading.book.description}}
    {{reading.book.description}}
  {{else}}
    No description.
  {{/if}}</p>
</div>
