<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateBookModal-{{book.id}}">
  Update this book.
</button>

<!-- Modal -->
<div class="modal fade" id="updateBookModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book.new</h4>
      </div>
      <div class="modal-body">
        <form class="updateBookForm" data-book="{{book.id}}">
          <fieldset>
            <label>
              Title
              <input type="text" name="book[title]" value="{{book.title}}">
            </label>
            <label>
              Author
              <input type="text" name="book[author]" value="{{book.author}}">
            </label>
            <label>
              Year Published
              <input type="text" name="book[published_in]" value="{{book.published_in}}">
            </label>
            <label>
              Description (optional)
              <input type="text" name="book[description]" value="{{book.description}}">
            </label>
            <button type="submit" class="btn btn-primary">Update book!</button>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
